[loggers]
keys=root,audit

[handlers]
keys=consoleHandler,RotatingFileHandler,audit

[formatters]
keys=default,jsonperline

[logger_root]
level=DEBUG
handlers=consoleHandler,RotatingFileHandler

[logger_audit]
level=INFO
handlers=audit
qualname=AUDIT

[handler_consoleHandler]
class=StreamHandler
formatter=default
args=(sys.stdout,)

[handler_RotatingFileHandler]
class=handlers.RotatingFileHandler
formatter=default
args=("flask.log", 'a', 1000000, 5)

[handler_audit]
class=FileHandler
formatter=jsonperline
args=("audit.log",'a')

[formatter_default]
format=[%(asctime)s] %(levelname)s in %(name)s: %(message)s

[formatter_jsonperline]
format=%(message)s
